{% extends "layouts/main.html" %}
{% set activePage = "dashboard" %}

{% block pageTitle %}
  Date amendment effective from - Get a guarantee for export finance - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          
          
      {% if validationErrors %}
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              {% for error in errorMessages %}
              <li>
                <a href="#{{ error.field }}">{{ error.message }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endif %}
      
      <span class="govuk-caption-l">UK TRADE WORKS LTD, Cash facility</span>
      <h1 class="govuk-heading-l">Date amendment effective from</h1>

      <p class="govuk-body">Amendments can be effective within the next 30 days. For later amendments, return later or use the 'schedule 8' paper form.</p>

      <form action="" method="post">
        <div class="govuk-form-group {% if validationErrors and errors['amendment-effective-date'] %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading govuk-visually-hidden">
                Enter the amendment effective date
              </h2>
            </legend>
            <div id="date-hint" class="govuk-hint">
              For example, 31 8 2026
            </div>
            
            {% if validationErrors and errors['amendment-effective-date'] %}
            <p id="amendment-effective-date-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> {{ errors['amendment-effective-date'] }}
            </p>
            {% endif %}
            
            <div class="govuk-date-input" id="amendment-effective-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="amendment-effective-date-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if validationErrors and errors['amendment-effective-date'] %}govuk-input--error{% endif %}" id="amendment-effective-date-day" name="amendment-effective-date-day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ amendmentDate.day if amendmentDate else '' }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="amendment-effective-date-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if validationErrors and errors['amendment-effective-date'] %}govuk-input--error{% endif %}" id="amendment-effective-date-month" name="amendment-effective-date-month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ amendmentDate.month if amendmentDate else '' }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="amendment-effective-date-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if validationErrors and errors['amendment-effective-date'] %}govuk-input--error{% endif %}" id="amendment-effective-date-year" name="amendment-effective-date-year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{ amendmentDate.year if amendmentDate else '' }}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-button-group govuk-!-margin-top-9">
          {{ govukButton({
            text: "Continue"
          }) }}
          <a class="govuk-link" href="javascript:window.history.back()">Cancel</a>
        </div>
      </form>

    </div>
  </div>
{% endblock %}
