{% extends "layouts/main.html" %}
{% set activePage = "dashboard" %}

{% block pageTitle %}
  Eligibility - Get a guarantee for export finance - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      
      
      {% if validationErrors %}
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              {% for error in errorMessages %}
              <li>
                <a href="#{{ error.field }}">{{ error.message }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endif %}
      

      <span class="govuk-caption-l">UK TRADE WORKS LTD, Cash facility</span>
      <h1 class="govuk-heading-l">Eligibility</h1>

      <p class="govuk-body">Please confirm all eligibility criteria for this facility</p>

      <form action="" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
       

              <div class="govuk-form-group {% if validationErrors and errors['eligibility-1'] %}govuk-form-group--error{% endif %}" id="eligibility-1">
                <fieldset class="govuk-fieldset" aria-describedby="eligibility-1-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <label class="govuk-label">
                     <b> 1. The Facility is not an Affected Facility</b>
                    </label>
                  </legend>
                  <div id="" class="govuk-hint">
                    An affected facility is a facility that is affected by a conflict of interest.
                  </div>
                  
                  {% if validationErrors and errors['eligibility-1'] %}
                  <p id="eligibility-1-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ errors['eligibility-1'] }}
                  </p>
                  {% endif %}
                 
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="eligibility-1-yes" name="eligibility-1" type="radio" value="yes" {% if eligibilityCriteria.eligibility1 === 'yes' %}checked{% endif %}>
                      <label class="govuk-label govuk-radios__label" for="eligibility-1-yes">
                        True 
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="eligibility-1-no" name="eligibility-1" type="radio" value="no" {% if eligibilityCriteria.eligibility1 === 'no' %}checked{% endif %}>
                      <label class="govuk-label govuk-radios__label" for="eligibility-1-no">
                       False
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="govuk-form-group {% if validationErrors and errors['eligibility-2'] %}govuk-form-group--error{% endif %}" id="eligibility-2">
                <fieldset class="govuk-fieldset" aria-describedby="eligibility-2-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <label class="govuk-label">
                      <b> 2. Neither the Exporter, nor its UK Parent Obligor is an Affected Person</b>
                    </label>
                  </legend>
                  <div id="" class="govuk-hint">
                    A UK Parent Obligor is a person that is the parent of the exporter.
                  </div>
                  
                  {% if validationErrors and errors['eligibility-2'] %}
                  <p id="eligibility-2-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ errors['eligibility-2'] }}
                  </p>
                  {% endif %}
                 
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="eligibility-2-yes" name="eligibility-2" type="radio" value="yes" {% if eligibilityCriteria.eligibility2 === 'yes' %}checked{% endif %}>
                      <label class="govuk-label govuk-radios__label" for="eligibility-2-yes">
                        True 
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="eligibility-2-no" name="eligibility-2" type="radio" value="no" {% if eligibilityCriteria.eligibility2 === 'no' %}checked{% endif %}>
                      <label class="govuk-label govuk-radios__label" for="eligibility-2-no">
                       False
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="govuk-form-group {% if validationErrors and errors['eligibility-3'] %}govuk-form-group--error{% endif %}" id="eligibility-3">
                <fieldset class="govuk-fieldset" aria-describedby="eligibility-3-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <label class="govuk-label">
                        <b> 3. The Cover Period of the Facility is within the Facility Maximum Cover Period</b>
                    </label>
                  </legend>
                  <div id="" class="govuk-hint">
                    The cover period is the period of time for which the facility is covered.
                  </div>
                  {% if validationErrors and errors['eligibility-3'] %}
                  <p id="eligibility-3-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ errors['eligibility-3'] }}
                  </p>
                  {% endif %}
                 
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="eligibility-3-yes" name="eligibility-3" type="radio" value="yes" {% if eligibilityCriteria.eligibility3 === 'yes' %}checked{% endif %}>
                      <label class="govuk-label govuk-radios__label" for="eligibility-3-yes">
                        True 
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="eligibility-3-no" name="eligibility-3" type="radio" value="no" {% if eligibilityCriteria.eligibility3 === 'no' %}checked{% endif %}>
                      <label class="govuk-label govuk-radios__label" for="eligibility-3-no">
                       False
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>


              <div class="govuk-form-group {% if validationErrors and errors['eligibility-4'] %}govuk-form-group--error{% endif %}" id="eligibility-4">
                <fieldset class="govuk-fieldset" aria-describedby="eligibility-4-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <label class="govuk-label">
                        <b> 4. The Covered Facility Limit (converted for this purpose into the Master Guarantee Base Currency) of the Facility is not more than the lesser of (i) the Available Master Guarantee Limit; and the Available Obligor(s) Limit</b>
                    </label>
                  </legend>
                  <div id="" class="govuk-hint">
                    The covered facility limit is the limit of the facility that is covered.
                  </div>
                  {% if validationErrors and errors['eligibility-4'] %}
                  <p id="eligibility-4-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ errors['eligibility-4'] }}
                  </p>
                  {% endif %}
                 
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="eligibility-4-yes" name="eligibility-4" type="radio" value="yes" {% if eligibilityCriteria.eligibility4 === 'yes' %}checked{% endif %}>
                      <label class="govuk-label govuk-radios__label" for="eligibility-4-yes">
                        True 
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="eligibility-4-no" name="eligibility-4" type="radio" value="no" {% if eligibilityCriteria.eligibility4 === 'no' %}checked{% endif %}>
                      <label class="govuk-label govuk-radios__label" for="eligibility-4-no">
                       False
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>



              <div class="govuk-form-group {% if validationErrors and errors['eligibility-5'] %}govuk-form-group--error{% endif %}" id="eligibility-5">
                <fieldset class="govuk-fieldset" aria-describedby="eligibility-5-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <label class="govuk-label">
                        <b> 5. The Bank has completed its Bank Due Diligence to its satisfaction in accordance with its policies and procedures without having to escalate any issue raised during its Bank Due Diligence internally to any Relevant Person for approval as part of its usual Bank Due Diligence</b>
                    </label>
                  </legend>
                  <div id="" class="govuk-hint">
                    The bank due diligence is the process of the bank checking the exporter and its UK Parent Obligor to make sure they are eligible for the facility.
                  </div>
                  {% if validationErrors and errors['eligibility-5'] %}
                  <p id="eligibility-5-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ errors['eligibility-5'] }}
                  </p>
                  {% endif %}
                 
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="eligibility-5-yes" name="eligibility-5" type="radio" value="yes" {% if eligibilityCriteria.eligibility5 === 'yes' %}checked{% endif %}>
                      <label class="govuk-label govuk-radios__label" for="eligibility-5-yes">
                        True 
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="eligibility-5-no" name="eligibility-5" type="radio" value="no" {% if eligibilityCriteria.eligibility5 === 'no' %}checked{% endif %}>
                      <label class="govuk-label govuk-radios__label" for="eligibility-5-no">
                       False
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="govuk-form-group {% if validationErrors and errors['eligibility-6'] %}govuk-form-group--error{% endif %}" id="eligibility-6">
                <fieldset class="govuk-fieldset" aria-describedby="eligibility-6-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <label class="govuk-label">
                        <b> 6. The Cover Limit of the Facility has not exceeded a cumulative total of 25% of the UK Parent Obligor's consolidated net assets at the date of the Facility unless the reduction of the Cover Limit is due to other changes that occurred as a result of the passage of time and the State has notified the SFS of the amendment of the Facility</b>
                    </label>
                  </legend>
                  <div id="" class="govuk-hint">
                    The cover limit is the limit of the facility that is covered.
                  </div>
                  {% if validationErrors and errors['eligibility-6'] %}
                  <p id="eligibility-6-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ errors['eligibility-6'] }}
                  </p>
                  {% endif %}
                 
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="eligibility-6-yes" name="eligibility-6" type="radio" value="yes" {% if eligibilityCriteria.eligibility6 === 'yes' %}checked{% endif %}>
                      <label class="govuk-label govuk-radios__label" for="eligibility-6-yes">
                        True 
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="eligibility-6-no" name="eligibility-6" type="radio" value="no" {% if eligibilityCriteria.eligibility6 === 'no' %}checked{% endif %}>
                      <label class="govuk-label govuk-radios__label" for="eligibility-6-no">
                       False
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>


              <div class="govuk-form-group {% if validationErrors and errors['eligibility-7'] %}govuk-form-group--error{% endif %}" id="eligibility-7">
                <fieldset class="govuk-fieldset" aria-describedby="eligibility-7-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <label class="govuk-label">
                        <b> 7. The Exporter has not provided the Bank with any new information that has not been previously made available to the Bank</b>
                    </label>
                  </legend>
                  <div id="" class="govuk-hint">
                    The exporter has not provided the bank with any new information that has not been previously made available to the bank.
                  </div>
                  {% if validationErrors and errors['eligibility-7'] %}
                  <p id="eligibility-7-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> {{ errors['eligibility-7'] }}
                  </p>
                  {% endif %}
                 
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="eligibility-7-yes" name="eligibility-7" type="radio" value="yes" {% if eligibilityCriteria.eligibility7 === 'yes' %}checked{% endif %}>
                      <label class="govuk-label govuk-radios__label" for="eligibility-7-yes">
                        True 
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="eligibility-7-no" name="eligibility-7" type="radio" value="no" {% if eligibilityCriteria.eligibility7 === 'no' %}checked{% endif %}>
                      <label class="govuk-label govuk-radios__label" for="eligibility-7-no">
                       False
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>


            </div>
          </fieldset>
        </div>

        <div class="govuk-button-group govuk-!-margin-top-9">
          {{ govukButton({
            text: "Continue"
          }) }}
          <a class="govuk-link" href="javascript:window.history.back()">Cancel</a>
        </div>
      </form>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with declarations
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">
            Read the Master Guarantee Agreement (MGA) definitions and interpretation document for terminology used in the declarations.             
          </p>
        </div>
      </details>

    </div>
  </div>
{% endblock %}
