{% extends "layouts/main.html" %}
{% set activePage = "dashboard" %}

{% block pageTitle %}
  Amendment request submitted - Get a guarantee for export finance - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Amendment submitted for checking at your bank",
        html: "We’ve sent you a confirmation email."
      }) }}



      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">Someone at your bank will check what you’ve submitted.</p>
      <p class="govuk-body">They will either:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>submit it for automatic approval with UKEF</li>
        <li>send it back to you for changes</li>
      </ul>

      
      <p class="govuk-body"> <a href="/v01/dashboard-deals  " class="govuk-link">Return to all applications and notices</a></p>

     
    </div>
  </div>
{% endblock %}
