{% extends "layouts/main.html" %}
{% set activePage = "dashboard" %}

{% block pageTitle %}
  Eligibility - Get a guarantee for export finance - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/v01/Change/change-facility-end-date"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">ATLANTIC TRADING COMPANY, Cash facility</span>
      <h1 class="govuk-heading-l">Eligibility</h1>

      <form action="/v01/Change/change-amendment-date" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
       

              <div class="govuk-form-group" id="ec-1">
                <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <h2 class="govuk-fieldset__heading">
                      1. The Facility is not an Affected Facility
                    </h2>
                  </legend>
                 
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="ec-1" name="ec-1" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="ec-1">
                        True 
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="ec-1-2" name="ec-1" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="ec-1-2">
                       False
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="govuk-form-group" id="ec-2">
                <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h2 class="govuk-fieldset__heading">
                      2. Neither the Exporter, nor its UK Parent Obligor is an Affected Person
                    </h2>
                  </legend>
                 
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="ec-2" name="ec-2" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="ec-2">
                        True 
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="ec-2-2" name="ec-2" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="ec-2-2">
                       False
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="govuk-form-group" id="ec-3">
                <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h2 class="govuk-fieldset__heading">
                        3. The Cover Period of the Facility is within the Facility Maximum Cover Period
                    </h2>
                  </legend>
                 
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="ec-3" name="ec-3" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="ec-3">
                        True 
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="ec-3-2" name="ec-3" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="ec-3-2">
                       False
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>


              <div class="govuk-form-group" id="ec-4">
                <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h2 class="govuk-fieldset__heading">
                        4. The Covered Facility Limit (converted for this purpose into the Master Guarantee Base Currency) of the Facility is not more than the lesser of (i) the Available Master Guarantee Limit; and the Available Obligor(s) Limit
                    </h2>
                  </legend>
                 
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="ec-4" name="ec-4" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="ec-4">
                        True 
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="ec-4-2" name="ec-4" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="ec-4-2">
                       False
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>



              <div class="govuk-form-group" id="ec-5">
                <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h2 class="govuk-fieldset__heading">
                        5. The Bank has completed its Bank Due Diligence to its satisfaction in accordance with its policies and procedures without having to escalate any issue raised during its Bank Due Diligence internally to any Relevant Person for approval as part of its usual Bank Due Diligence
                    </h2>
                  </legend>
                 
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="ec-5" name="ec-5" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="ec-5">
                        True 
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="ec-5-2" name="ec-5" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="ec-5-2">
                       False
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>

              <div class="govuk-form-group" id="ec-6">
                <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h2 class="govuk-fieldset__heading">
                        6. The Cover Limit of the Facility has not exceeded a cumulative total of 25% of the UK Parent Obligor's consolidated net assets at the date of the Facility unless the reduction of the Cover Limit is due to other changes that occurred as a result of the passage of time and the State has notified the SFS of the amendment of the Facility
                    </h2>
                  </legend>
                 
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="ec-6" name="ec-6" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="ec-6">
                        True 
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="ec-6-2" name="ec-6" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="ec-6-2">
                       False
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>


              <div class="govuk-form-group" id="ec-7">
                <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h2 class="govuk-fieldset__heading">
                        7. The Exporter has not provided the Bank with any new information that has not been previously made available to the Bank
                    </h2>
                  </legend>
                 
                  <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="ec-7" name="ec-7" type="radio" value="yes">
                      <label class="govuk-label govuk-radios__label" for="ec-7">
                        True 
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="ec-7-2" name="ec-7" type="radio" value="no">
                      <label class="govuk-label govuk-radios__label" for="ec-7-2">
                       False
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>


            </div>
          </fieldset>
        </div>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}
          <a class="govuk-link" href="/v01/Change/change-facility-end-date">Cancel</a>
        </div>
      </form>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with declarations
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">Contact your compliance team or refer to the UKEF guidance documents for assistance with these eligibility criteria.</p>
        </div>
      </details>

    </div>
  </div>
{% endblock %}
