{% extends "layouts/main.html" %}
{% set activePage = "dashboard" %}

{% block pageTitle %}
  New cover end date - Get a guarantee for export finance - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/v01/Change/change-facility-start"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">ATLANTIC TRADING COMPANY, Cash facility</span>
      <h1 class="govuk-heading-l">Bank review date</h1>

      <form action="/v01/Change/change-facility-end-date" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" role="group" aria-describedby="date-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading govuk-visually-hidden">
                Enter the bank review date
              </h2>
            </legend>
            <div id="date-hint" class="govuk-hint">
              For example, 31 8 2026
            </div>
            <div class="govuk-date-input" id="new-cover-end-date">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="new-cover-end-date-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="new-cover-end-date-day" name="new-cover-end-date-day" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="new-cover-end-date-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="new-cover-end-date-month" name="new-cover-end-date-month" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="new-cover-end-date-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="new-cover-end-date-year" name="new-cover-end-date-year" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-button-group govuk-!-margin-top-9">
          {{ govukButton({
            text: "Continue"
          }) }}
          <a class="govuk-link" href="/v01/Change/change-facility-start">Cancel</a>
        </div>
      </form>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is a bank review date
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">
            
            The bank review date is when you decide in accordance with your usual policies and procedures for such facilities whether to continue or terminate the facility based on the borrower's needs and circumstances.          
          </p>
        </div>
      </details>

    </div>
  </div>
{% endblock %}
