{% extends "layouts/main.html" %}


{% block pageTitle %}
  Automatic Inclusion Notice – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<!-- Action Button -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-!-margin-bottom-6" style="text-align: right;">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Clone
      </button>
    </div>
  </div>
</div>







<!-- Bank Reference Table -->
<div class="govuk-!-margin-bottom-6">
  <table class="bank-reference-table">
    <tbody>
      <tr class="bank-reference-table__row">
        <td class="bank-reference-table__cell bank-reference-table__cell--left">
          <table class="bank-reference-table__inner-table">
            <tbody>
              <tr class="bank-reference-table__inner-row">
                <td class="bank-reference-table__inner-cell">
                  <span class="bank-reference-table__label">Bank's reference</span>
                </td>
                <td class="bank-reference-table__inner-cell">
                  <span class="bank-reference-table__value">ACBS SMOKE TEST</span>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td class="bank-reference-table__cell bank-reference-table__cell--right">
          <table class="bank-reference-table__inner-table">
            <tbody>
              <tr class="bank-reference-table__inner-row">
                <td class="bank-reference-table__inner-cell">
                  <span class="bank-reference-table__label">Additional reference</span>
                </td>
                <td class="bank-reference-table__inner-cell">
                  <span class="bank-reference-table__value">ACBS SMOKE TEST</span>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<style>
.bank-reference-table {
  width: 100%;
  border-collapse: collapse;
}

.bank-reference-table__row {
  border: none;
}

.bank-reference-table__cell {
  width: 50%;
  vertical-align: top;
  padding: 5px 32px;
}

.bank-reference-table__inner-table {
  width: 100%;
  border-collapse: collapse;
}

.bank-reference-table__inner-row {
  border: none;
}

.bank-reference-table__inner-cell {
  padding: 0;
  border: none;
  vertical-align: top;
}

.bank-reference-table__inner-cell:first-child {
  width: 40%;
  padding-right: 24px;
}

.bank-reference-table__inner-cell:last-child {
  width: 60%;
}

.bank-reference-table__label {
  display: block;
  font-size: 19px;
  font-weight: bold;
  color: #000000;
  line-height: 1.4;
  margin-bottom: 8px;
  font-family: "GDS Transport", "Arial", sans-serif;
}

.bank-reference-table__value {
  display: block;
  font-size: 19px;
  color: #000000;
  line-height: 1.4;
  font-family: "GDS Transport", "Arial", sans-serif;
}
</style>

<!-- Universal Banner Component -->
{% from "components/universal-banner.html" import universalBanner %}

{{ universalBanner({
  status: "Acknowledged",
  product: "General Export Facility",
  dateCreated: "26 Aug 2025",
  type: "Automatic Inclusion Notice",
  createdBy: "Sam Maker",
  exporter: "ATLANTIC TRADING COMPANY	",
  checkedBy: "Ashley Checker",
  buyer: "ABC LIMITED",
  sentToUKEF: "26 Aug 2025",
  ukefDealId: "0041718538"
}) }}

<!-- Sub Navigation Tabs -->
<nav class="moj-sub-navigation" aria-label="Sub navigation">

    <ul class="moj-sub-navigation__list">
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" aria-current="page" href="#1">Application/notice</a>
      </li>
  
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" href="#2">Amendments</a>
      </li>
  
      <li class="moj-sub-navigation__item">
        <a class="moj-sub-navigation__link" href="#3">Activity</a>
      </li>
    </ul>
  
  </nav>

<!-- Comments Section -->
<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m">Comments from Maker 1</h2>
  <div class="comments-box">
    <p class="govuk-body govuk-!-margin-bottom-4">
      <strong>26 Aug 2025 10:34am</strong><br>
      Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p class="govuk-body">
      <strong>26 Aug 2025 1:57pm</strong><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    </p>
  </div>
</div>

<style>
.comments-box {
  background-color: #ffffff;
  border: 5px solid #1d70b8;
  border-radius: 4px;
  padding: 24px;
  margin-top: 16px;
}

.comments-box p {
  margin-bottom: 16px;
}

.comments-box p:last-child {
  margin-bottom: 0;
}
</style>

<!-- Main Content -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <!-- Main Heading -->
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Automatic Inclusion Notice</h1>

    <!-- About the exporter -->
    <div class="govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-l">About the exporter</h2>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width: 50%;">Companies House registration number</dt>
          <dd class="govuk-summary-list__value">00200103</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width: 50%;">Company name</dt>
          <dd class="govuk-summary-list__value">ANGLIA COUNTRYWIDE MANAGEMENT LIMITED</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width: 50%;">Registered Address</dt>
          <dd class="govuk-summary-list__value">PO BOX 53, IPSWICH, IP1 2RH, Suffolk, England</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width: 50%;">Correspondence address, if different</dt>
          <dd class="govuk-summary-list__value">Not specified</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width: 50%;">Industry</dt>
          <dd class="govuk-summary-list__value">Professional, scientific and technical activities, Non-trading company</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width: 50%;">SME Type</dt>
          <dd class="govuk-summary-list__value">Micro</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width: 50%;">Probability of default</dt>
          <dd class="govuk-summary-list__value">100%</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width: 50%;">Is finance for this exporter increasing?</dt>
          <dd class="govuk-summary-list__value">No</dd>
        </div>
      </dl>
    </div>

    <!-- Automatic or manual cover -->
    <div class="govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-l">Automatic or manual cover</h2>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width: 50%;">Eligible for automatic cover?</dt>
          <dd class="govuk-summary-list__value">Yes - Submit as an automatic inclusion notice</dd>
        </div>
      </dl>

      <!-- Eligibility criteria using Details component -->
      <details class="govuk-details govuk-!-margin-top-4">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Eligibility rules</span>
        </summary>
        <div class="govuk-details__text">
          <table class="eligibility-criteria-table">
            <tbody>
              <tr class="eligibility-criteria-table__row">
                <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--rule">EC12</td>
                <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--status">
                  <span class="govuk-tag govuk-tag--green">True</span>
                </td>
                               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--description">
                 The period between the Cover Start Date and the Cover End Date does not exceed the Facility Maximum Cover Period.
               </td>
             </tr>
             <tr class="eligibility-criteria-table__row">
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--rule">EC13</td>
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--status">
                 <span class="govuk-tag govuk-tag--green">True</span>
               </td>
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--description">
                 The period between the Inclusion Notice Date and the Requested Cover Start Date does not exceed 3 months (or such longer period as may be agreed by UK Export Finance).
               </td>
             </tr>
             <tr class="eligibility-criteria-table__row">
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--rule">EC14</td>
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--status">
                 <span class="govuk-tag govuk-tag--green">True</span>
               </td>
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--description">
                 The Covered Facility Limit (converted for this purpose into the Master Guarantee Base Currency) of the facility is not more than the lesser of: the Available Master Guarantee Limit; and the Available Obligor's limit
               </td>
             </tr>
             <tr class="eligibility-criteria-table__row">
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--rule">EC15</td>
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--status">
                 <span class="govuk-tag govuk-tag--green">True</span>
               </td>
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--description">
                 The Bank has received an Exporter Declaration which confirms that the Exporter is not involved with any of the following industry sectors: sharp arms defence, nuclear radiological, biological, human cloning, pornography, gambling, tobacco, coal, oil, gas or fossil fuel energy and the Bank Team is not aware that any information contained in that Exporter Declaration is inaccurate in any material respect.
               </td>
             </tr>
             <tr class="eligibility-criteria-table__row">
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--rule">EC16</td>
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--status">
                 <span class="govuk-tag govuk-tag--green">True</span>
               </td>
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--description">
                 The Bank has received an Exporter Declaration which confirms that the Exporter's Revenue Threshold Test Percentage (as defined in the relevant Exporter Declaration) is below 5%.
               </td>
             </tr>
             <tr class="eligibility-criteria-table__row">
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--rule">EC17</td>
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--status">
                 <span class="govuk-tag govuk-tag--green">True</span>
               </td>
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--description">
                 The Bank has completed its Bank Due Diligence to its satisfaction in accordance with its policies and procedures without having to escalate any issue raised during its Bank Due Diligence internally to any Relevant Person for approval as part of its usual Bank Due Diligence.
               </td>
             </tr>
             <tr class="eligibility-criteria-table__row">
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--rule">EC18</td>
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--status">
                 <span class="govuk-tag govuk-tag--green">True</span>
               </td>
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--description">
                 Facility Letter satisfies the following conditions: in relation to which, any upfront, arrangement or similar fee, (in the case of a Cash Facility) any ordinary interest rate and (in the case of a Contingent Facility) any Risk Margin Fee:
                 <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-2 govuk-!-margin-bottom-0">
                   <li>has been set in accordance with the Bank's normal pricing policies consistently applied;</li>
                   <li>has been set in accordance with the overall minimum pricing requirements, if any, most recently notified by UK Export Finance to the Bank;</li>
                   <li>(where the Covered Facility Limit in relation to the Facility is more than the Available Obligor(s) Limit) has been set in accordance with the overall pricing requirements, if any, most recently notified by UK Export Finance to the Bank for the relevant Obligor(s); and</li>
                   <li>(in the case of a Cash Facility) any ordinary interest rate and (in the case of a Contingent Facility) any Risk Margin Fee cover the whole Cover Period of the Covered Facility</li>
                 </ul>
               </td>
             </tr>
             <tr class="eligibility-criteria-table__row">
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--rule">EC19</td>
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--status">
                 <span class="govuk-tag govuk-tag--green">True</span>
               </td>
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--description">
                 Facility Base Currency satisfies the following conditions: is denominated in an Approved Payment Currency.
               </td>
             </tr>
             <tr class="eligibility-criteria-table__row">
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--rule">EC20</td>
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--status">
                 <span class="govuk-tag govuk-tag--green">True</span>
               </td>
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--description">
                 Facility Letter satisfies the following conditions: in relation to which, any upfront, arrangement or similar fee, (in the case of a Cash Facility) any ordinary interest rate and (in the case of a Contingent Facility) any Risk Margin Fee, is denominated in an Approved Payment Currency.
               </td>
             </tr>
             <tr class="eligibility-criteria-table__row">
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--rule">EC21</td>
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--status">
                 <span class="govuk-tag govuk-tag--green">True</span>
               </td>
               <td class="eligibility-criteria-table__cell eligibility-criteria-table__cell--description">
                 The Bank has received an Exporter Declaration which confirms that no Obligor has entered or intends to enter into any Additional UKEF Supported Facility (as defined in the relevant Exporter Declaration) within three months of the date of such Exporter Declaration and the Bank Team is not aware that any information contained in that Exporter Declaration is inaccurate in any material respect.
               </td>
             </tr>
            </tbody>
          </table>

<style>
.eligibility-criteria-table {
  width: 100%;
  border-collapse: collapse;
}

.eligibility-criteria-table__row {
  border: none;
}

.eligibility-criteria-table__cell {
  padding: 16px;
  border: none;
  vertical-align: top;
}

.eligibility-criteria-table__cell--rule {
  width: 15%;
  font-weight: bold;
  font-size: 19px;
}

.eligibility-criteria-table__cell--status {
  width: 15%;
  text-align: center;
}

.eligibility-criteria-table__cell--description {
  width: 70%;
  font-size: 19px;
}
</style>
        </div>
      </details>
    </div>

    <!-- Facilities -->
    <div class="govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-l">Facilities</h2>
      

      <div role="region" class="moj-alert moj-alert--warning" aria-label="warning: Some information could not be imported" data-module="moj-alert">
        <div>
          <svg class="moj-alert__icon" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30" width="30">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15 2.44922L28.75 26.1992H1.25L15 2.44922ZM13.5107 9.49579H16.4697L16.2431 17.7678H13.7461L13.5107 9.49579ZM13.1299 21.82C13.1299 21.5661 13.1787 21.3285 13.2764 21.1071C13.374 20.8793 13.5075 20.6807 13.6768 20.5114C13.8525 20.3421 14.0544 20.2087 14.2822 20.111C14.5101 20.0134 14.7542 19.9645 15.0146 19.9645C15.2686 19.9645 15.5062 20.0134 15.7275 20.111C15.9554 20.2087 16.154 20.3421 16.3232 20.5114C16.4925 20.6807 16.626 20.8793 16.7236 21.1071C16.8213 21.3285 16.8701 21.5661 16.8701 21.82C16.8701 22.0804 16.8213 22.3246 16.7236 22.5524C16.626 22.7803 16.4925 22.9789 16.3232 23.1481C16.154 23.3174 15.9554 23.4509 15.7275 23.5485C15.5062 23.6462 15.2686 23.695 15.0146 23.695C14.7542 23.695 14.5101 23.6462 14.2822 23.5485C14.0544 23.4509 13.8525 23.3174 13.6768 23.1481C13.5075 22.9789 13.374 22.7803 13.2764 22.5524C13.1787 22.3246 13.1299 22.0804 13.1299 21.82Z" fill="currentColor" />
          </svg>
        </div>
        <div class="moj-alert__content">Check your records for the most up-to-date facility details.</div>
      
        <div class="moj-alert__action">
          <button class="moj-alert__dismiss" hidden>Dismiss</button>
        </div>
      </div>


      <!-- Guidance on cash or contingent facilities -->
      <details class="govuk-details govuk-!-margin-bottom-4">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Guidance on cash or contingent facilities</span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body"><strong>Cash facilities:</strong> any type of cash advance to the exporter. For example, a loan.</p>
          <p class="govuk-body"><strong>Contingent facilities:</strong> when your bank takes on an unfunded risk on the exporter. The exporter or obligor agrees to indemnify your bank, should you need to pay out at some point in relation to this risk. For example, a bond or a letter of credit.</p>
          <p class="govuk-body"><strong>How many you can add:</strong> You must add at least one cash or contingent facility. You can add several of each type, if you wish.</p>
        </div>
      </details>

      

      <!-- Cash facility -->
      <div class="govuk-!-margin-bottom-6">
        <div class="moj-page-header-actions">
          <div class="moj-page-header-actions__title">
            <h3 class="govuk-heading-m">Cash facility</h3>
          </div>

          <div class="moj-page-header-actions__actions">
            <div class="moj-button-group moj-button-group--inline">
              <a href="/v01/Change/change-facility-start" class="govuk-button govuk-button--primary" data-module="govuk-button">
                Make a change
              </a>
            </div>
          </div>
        </div>
        
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 50%;">Name</dt>
            <dd class="govuk-summary-list__value">ATLANTIC CASH FACILITY</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">UKEF facility ID</dt>
            <dd class="govuk-summary-list__value">0041718589</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Stage</dt>
            <dd class="govuk-summary-list__value">Issued</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Date issued to exporter</dt>
            <dd class="govuk-summary-list__value">26 August 2025</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Cover start date</dt>
            <dd class="govuk-summary-list__value">26 August 2025</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Cover end date</dt>
            <dd class="govuk-summary-list__value">13 October 2030</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Has a facility end date</dt>
            <dd class="govuk-summary-list__value">Yes</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Facility end date</dt>
            <dd class="govuk-summary-list__value">1 January 2030</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Facility provided on</dt>
            <dd class="govuk-summary-list__value">Term basis, Committed basis, On demand or overdraft basis, Factoring (on a with-recourse basis)</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Facility value</dt>
            <dd class="govuk-summary-list__value">87,000,000 EUR</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Percentage of UKEF cover needed</dt>
            <dd class="govuk-summary-list__value">50%</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Interest margin your bank will charge</dt>
            <dd class="govuk-summary-list__value">10%</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Frequency your bank will pay the UKEF guarantee fee</dt>
            <dd class="govuk-summary-list__value">At maturity</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Day count basis</dt>
            <dd class="govuk-summary-list__value">365</dd>
          </div>
        </dl>
      </div>

      <!-- Contingent facility -->
      <div class="govuk-!-margin-bottom-6">
        <div class="moj-page-header-actions">
          <div class="moj-page-header-actions__title">
            <h3 class="govuk-heading-m">Contingent facility</h3>
          </div>

          <div class="moj-page-header-actions__actions">
            <div class="moj-button-group moj-button-group--inline">
              <a href="/v01/Change/change-facility-start" class="govuk-button govuk-button--primary" data-module="govuk-button">
                Make a change
              </a>
            </div>
          </div>
        </div>
        
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width: 50%;">Name</dt>
            <dd class="govuk-summary-list__value">ATLANTIC CONTINGENT FACILITY</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">UKEF facility ID</dt>
            <dd class="govuk-summary-list__value">0041718589</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Stage</dt>
            <dd class="govuk-summary-list__value">Issued</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Date issued to exporter</dt>
            <dd class="govuk-summary-list__value">26 August 2025</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Cover start date</dt>
            <dd class="govuk-summary-list__value">26 August 2025</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Cover end date</dt>
            <dd class="govuk-summary-list__value">1 January 2030</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Has a facility end date</dt>
            <dd class="govuk-summary-list__value">No</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Bank review date</dt>
            <dd class="govuk-summary-list__value">1 January 2030</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Facility provided on</dt>
            <dd class="govuk-summary-list__value">Term basis, Revolving or renewal basis, Committed basis, Uncommitted basis, On demand or overdraft basis, Factoring (on a with-recourse basis)</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Facility value</dt>
            <dd class="govuk-summary-list__value">1,300,000 USD</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Percentage of UKEF cover needed</dt>
            <dd class="govuk-summary-list__value">80%</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Risk margin your bank will charge</dt>
            <dd class="govuk-summary-list__value">12%</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Frequency your bank will pay the UKEF guarantee fee</dt>
            <dd class="govuk-summary-list__value">At maturity</dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">Day count basis</dt>
            <dd class="govuk-summary-list__value">365</dd>
          </div>
        </dl>
      </div>
    </div>

  </div>
</div>

{% endblock %}
