{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      UK Export Finance

    </h1>

    <p>UK Export Finance is the UK’s export credit agency. In the last five years we’ve provided £14 billion of support for exports and international trade. You can get finance and insurance from the UK government.</p>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
